.section-form{
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #292d31;
}

.form-title{
    align-self: center;
    font-size: 1.8rem;
    margin-top: 0;
    margin-bottom: 0.5em;
}

.passenger {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.remove-button {
    background: none;
    border: none;
    color: red;
    font-size: 20px;
    cursor: pointer;
    margin-left: 10px;
}

.remove-button:hover {
    color: darkred;
}
